<main class="contenedor">
  <form action="/crear-cuenta" method="POST" class="default-form">
    <div class="campo">
      <label for="">Nombre</label>
      <input type="text" name="nombre" placeholder="Tu nombre">
    </div>
    <div class="campo">
      <label for="">Email</label>
      <input type="email" name="email" placeholder="Tu Correo">
    </div>
    <div class="campo">
      <label for="">Contraseña</label>
      <input type="password" name="password" placeholder="Tu Contraseña">
    </div>
    <div class="campo">
      <label for="">Repetir Contraseña</label>
      <input type="password" name="confirmar" placeholder="Repetir Contraseña">
    </div>
    <div class="campo acciones">
      <a href="/iniciar-sesion">Volver Iniciar Sesión</a>
    </div>
    <div class="campo">
      <input type="submit" value="Crear Cuenta" class="btn btn-azul">
    </div>
  </form>
</main>